.cards_container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

h2 {
  text-align: center;
  color: rgb(210, 162, 98);
  font-size: 30px;
}

.cards {
  display: block;
  width: 350px;
  height: 400px;
  border-radius: 10px;
  align-items: center;
}


.cards h1 {
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
}

.cards h3 {
  font-size: 15px;
  text-align: center;
}


